    <div class="cont uk-animation-fade " style="clear: both; border-radius: 20px;" >
        <div id="band-logo"><img ng-src="{{album.albumLogo}}"  err-src="./img/default.png" style="width: 512px;"/></div>
        <div id="band-name">{{album.title}}</div>


        <div id="band-established">Released: {{album.releaseDate}}</div>
        <div id="band-about">About: <br/>{{album.about}}</div>

        <div id="band-albums" style="padding-bottom: 1px;" >Songs: <br/>
            <table class="table">
                <thead>
                <tr>
                    <th></th>
                    <th>Title</th>
                    <th>Release Date</th>
                    <th>Status</th>


                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="song in songs">
                    <td><img src="./img/default.png" style="width: 100px;"/></td>
                    <td>{{song.title}}</td>
                    <td>{{song.date}}</td>
                    <td ng-if="song.uploaded=='true'"><button class="btn btn-success disabled">FINISHED</button></td>
                    <td ng-if="song.uploaded=='false'"><button class="btn btn-warning disabled">IN PROGRESS</button></td>

                </tr>
                </tbody>
            </table>

        </div>

    </div>