<div class="cont uk-animation-fade " style="clear: both; border-radius: 20px;" >

    <div id="band-logo" ><img ng-src="{{band.bandLogo}}" err-src="./img/default.png"/></div>
    <div id="band-name">{{band.name}}
        <button ng-if="band.status == 'active'" class="btn btn-success disabled">active</button>
        <button ng-if="band.status == 'suspended'" class="btn btn-warning disabled">suspended</button>
        <button ng-if="band.status == 'inactive'" class="btn btn-danger disabled">inactive</button>
    </div>


    <div id="band-established">Established: {{band.established}}</div>
    <div id="band-leader">Leader: {{band.leader}}</div>
    <div id="band-about">About: <br/>{{band.about}}</div>


    <div id="band-albums">Albums:<br/>
        <table class="table table-hover" >
            <thead>
            <tr>
                <th></th>
                <th>Title</th>
                <th>Release Date</th>
                </tr>
            </thead>
            <tbody>
            <tr style="cursor: pointer" ng-repeat="album in albums" ng-click="albumLoc(album)" >
                <td><img style="width: 100px;" ng-src="{{album.albumLogo}}" err-src="./img/default.png"/></td>
                <td>{{album.title}}</td>
                <td>{{album.releaseDate}}</td>
            </tr>
            </tbody>
        </table>

    </div>


    <div id="band-members">Members: <br/>
        <table class="table">
            <thead>
            <tr>
                <th></th>
                <th>Name</th>
                <th>Email</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="member in members">
                <td><img style="width: 100px;" ng-src="{{member.avatar}}" err-src="./img/default-avatar.png"/></td>
                <td>{{member.name}}</td>
                <td>{{member.email}}</td>
            </tr>
            </tbody>
        </table>

    </div>

</div>