<div id="register-panel">
    <div id="log-in-button" ng-if="!loggedIn" class="uk-animation-hover uk-animation-scale uk-animation-reverse"><a href="#/login">Log in</a></div>
    <div id="log-out-button" ng-if="loggedIn" class="uk-animation-hover uk-animation-scale uk-animation-reverse"><a href="" ng-click="logout()">Log out</a></div>
    <div id="register-button" ng-if="!loggedIn" class="uk-animation-hover uk-animation-scale uk-animation-reverse"><a href="#/register">Sign up</a></div>
    <div id="leader"  ng-if="isLeader"class="uk-animation-hover uk-animation-scale uk-animation-reverse"><a href="#/leader">Leader</a></div>
    <div id="admin" ng-if="isAdmin"class="uk-animation-hover uk-animation-scale uk-animation-reverse"><a href="#/admin">Admin</a></div>
    <div id="profile" ng-if="loggedIn && !isAdmin" class="uk-animation-hover uk-animation-scale uk-animation-reverse"><a href="#/profile" ng-click="reloadPage()">Profile</a></div>
</div>
<div style="clear: both"></div>