
html,body {

    /*background-image: url(../../img/background-pattern.jpg);*/
    /*background-repeat: repeat-x;*/

    background-image: url(../../img/background.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color:#464646;
    font-family: 'Buenard';

}

html{
    position: relative;
    min-height: 100%;
}



#logo{
    float: left;
    margin: 20px;
    width: 300px;
}




#register-panel{
    margin: 3%;
    margin-right: 7%;
    float: right;
    font-size: 70px;
    font-family: 'Niagara Engraved', sans-serif;
}
#about-button{
    float: right;
}
#log-in-button{
    float: right;
    margin-left: 40px;
    margin-right: 40px;
}

#log-out-button{
    float: right;
    margin-left: 40px;

}
#profile{
    float: right;
    margin-right: 40px;
}

#admin{
    float: right;
}

#leader{
    float: right;
    margin-left: 40px;
    margin-right: 40px;
}
#register-button{
    float: right;
    margin-left: 40px;
    margin-right: 40px;
}

#list{
    background: rgba(238,238,238,0.9);
    border-radius: 10px;
}

.jumbotron{
    clear: both;
    background: rgba(238,238,238,0.9);
}

a{
    color: black;
}

a:hover, a:visited, a:focus, a:active{
    color: black;
    text-decoration: none;
}

#image-avatar{
    width: 40%;
    display: block;
    margin: 0 auto;
    margin-top: 20px;
}

.btn-primary:hover{
    background-color: #4d667f;
}

.footer {
    background: rgba(238,238,238,0.9);
    border-radius: 6px;
    position: absolute;
    bottom: 0;

    width: 88%;
    /* Set the fixed height of the footer here */
    height: 60px;
    line-height: 60px; /* Vertically center the text there */
}
.text-muted {
    color:black;
    margin-left: 200px;
}
.contact{
    color: #000000;
    float: right;
    margin-right: 200px;
}


@media screen and (max-width: 960px) {
    html,body {
        background-image: url(../../img/background-mobile.png);
        background-position: center center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
        background-color:#464646;
    }
    #logo{
        width: 100px;
    }
    html{
        position: relative;
        min-height: 100%;
    }

    #register-panel{
        margin: 5%;
        float: right;
        font-size: 40px;
    }

}