<form ng-submit="createBand(band)">
    <div class="cont uk-animation-fade " style="clear: both; border-radius: 20px;" >

        <script>
            $(function(){
                $('.datepicker').datepicker();

            });
        </script>

        <div id="edit">
            <div class="form-group">
                <label style="margin-top: 20px;">Band name</label>
                <input type="text" class="form-control" ng-model="band.name">

            </div>

            <div class="form-group">
                <label>About Band</label>
                <textarea type="text" rows="5" class="form-control" ng-model="band.about"></textarea>
            </div>

            <div class="form-group ">
                <label>Leader</label>
                <input list="usr" name="usr" class="form-control" ng-model="band.leader">
                <datalist id="usr" >
                    <option ng-repeat="user in users" ng-if="user.leader=='false'" value="{{user.email}}">
                </datalist>

            </div>

            <div class="form-group">
                <label for="sel1">Status</label>
                <select class="form-control" id="sel1" ng-model="band.status">
                    <option value="active">active</option>
                    <option value="suspended">suspended</option>
                    <option value="inactive">inactive</option>
                </select>
            </div>

            <button type="submit" class="btn btn-primary" data-toggle="modal" data-target="#success">Save</button>

        </div>

        <div style="position: relative; top:20px; margin-left: 20px;">View</div>
        <hr style="border-style: dashed; border-color: black; margin-left: 20px; margin-right: 20px;"/>

        <!--<input class="datepicker" type="text" name="date" data-date-format="dd.mm.yyyy" ng-model="band.established"><br/>-->

        <div id="band-logo"><img src="./img/default.png"/></div>
        <div id="band-name">{{band.name}}</div>


        <div id="band-established">Established: {{established}}</div>
        <div id="band-leader">Leader: {{band.leader}}</div>
        <div id="band-about">About: <br/>{{band.about}}</div>
        <div style="clear: both;"></div>





    </div>

    <div id="success" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Success</h4>
                </div>
                <div class="modal-body">
                    <p>Successfully saved</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>
</form>