<div class="cont uk-animation-fade " style="clear: both; border-radius: 20px" >
    <input type="text" class="form-control" style="float: left; margin-right: 10px; margin: 20px; width: 60%" ng-model="find"  placeholder="Search ..." >
    <a href="#/admin/create-user" class="btn btn-primary btn-md" style="width: 25%; float: right; color: whitesmoke; margin: 20px;">Add user <span class="glyphicon glyphicon-plus"></span></a> <br/>
    <a href="#/admin/create-band" class="btn btn-primary btn-md" style="width: 25%; float: right; color: whitesmoke; margin: 20px; ">Add band <span class="glyphicon glyphicon-plus"></span></a>
    <div style="clear: both"></div>
    <br/>


    <form name="outerForm" class="tab-form-demo" style="margin: 20px">
        <uib-tabset active="activeForm">

            <uib-tab index="1" heading="Bands list">
                <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th>Logo</th>
                        <th>Name</th>
                        <th>Leader</th>
                        <th>Established</th>
                        <th>Status</th>
                        <th></th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="band in bands| filter: find">
                        <td><img style="width: 100px;" ng-src="{{band.logo}}" err-src="./img/default.png"/></td>
                        <td>{{band.name}}</td>
                        <td>{{band.leader}}</td>
                        <td>{{band.established}}</td>
                        <td ng-if="band.status=='active'"><button class="btn btn-success btn-s disabled">active</button></td>
                        <td ng-if="band.status=='suspended'"><button class="btn btn-warning btn-s disabled">suspended</button></td>
                        <td ng-if="band.status=='inactive'"><button class="btn btn-danger btn-s disabled">inactive</button></td>
                        <td><a href="#/admin/edit-band/{{band.id}}" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-pencil"></span></a> </td>
                        <td><button ng-click="deleteBand(band,$index)"class="btn btn-danger btn-sm"><span class="glyphicon glyphicon-remove"></span></button></td>
                    </tr>
                    </tbody>
                </table>
                </div>
            </uib-tab>


            <style>
                .table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
                    background-color: #A9A9A9;

                }
            </style>
            <uib-tab index="2" heading="Users list">
                <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th>Avatar</th>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Role</th>
                        <th></th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="user in users| filter: find">
                        <td><img style="width: 100px;" ng-src="{{user.avatar}}" err-src="./img/default-avatar.png"/></td>
                        <td>{{user.name}}</td>
                        <td>{{user.email}}</td>
                        <td>{{user.role}}</td>
                        <td><a href="#/admin/edit-user/{{user.id}}" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-pencil"></span></a> </td>
                        <td><button ng-click="deleteUser(user,$index)"class="btn btn-danger btn-sm"><span class="glyphicon glyphicon-remove"></span></button></td>
                    </tr>
                    </tbody>
                </table>
                </div>
            </uib-tab>


        </uib-tabset>





    </form>


</div>